.edu-bg-container{
    height:100vh;
    width: 216vh;
    background-size: cover;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #000000;
    
}

.dash-board-container{
    background-color: black;
    min-width:21%;
    padding-left:20px;
    height: 200%;
    opacity: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-between;
    align-items: flex-start;
    max-width: 80%;
    border-radius: 10px;
    overflow-y: auto;
    margin:5px;
    flex-grow: 0;

}

.edu-main-heading{
color: #FFF;
font-family: "Roboto";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: transparent;
border: none;
outline: none;
height: 15px;
margin-top:10px;
margin-bottom: 20px;
margin-left:10px;
}

.learning{
color: #FFF;
font-family: "Roboto";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 150px;
height: 20px;
margin-left: 35px;
}


.profile-pic-container{
    background-color: #ffffff;
    height:70px;
    width:70px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:40px;
}

.user-icon{
    font-size: 50px;
}

.user-name{
    color:#ffffff;
    height:20px;
    margin-top: 30px;
    margin-left: 40px;   
}

.content-bg-container{
    background-color: #4d4b48;
    width:100%;
    height:102%;
    margin-left: 22%;   
    border:2px solid #9da1a6;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    
}

.sign-out-btn{
    background-color: transparent;
    border:none;
    font-family: "roboto";
    font-size:20px;
    color:#ffffff;
    margin-top: 15px;
    margin-left: 10px;
}

.elements{
    border:none;
    font-family: "roboto";
    font-size:20px;
    color:#ffffff;
    margin-left:20px;
}

.resize{
  border: 2px solid #ffffff; 
  overflow:auto;
  
}

.resize.horizontal {
    resize: horizontal;
    height: 105%;
    cursor: w-resize;
    position: absolute;
    left: 0;
    width: 4px;
  }

  
  
  .welcome-msg{
    text-align: center;
    color:#ffffff;
    margin-top: 40px;
  }
  